/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #c5c1a0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    background-image: url('bg.jpg'); /* 更改URL为您的图片链接 */
    background-size: cover; /* 图片适应标题尺寸 */
    background-repeat: no-repeat; /* 防止图片重复 */
    background-position: center; /* 图片居中对齐 */
    padding: 40px; /* 为标题添加内边距以获得更好的外观效果 */
    color: #fff; /* 更改标题文字颜色，例如：白色 */
}
h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#result {
    border: 2px solid #333;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 2rem;
}

/* 添加自定义的艺术感 */
.decorative-line {
    background-color: #333;
    height: 3px;
    width: 100%;
    margin-bottom: 1rem;
}